{% extends 'base.html.twig' %}

{% block title %}
	Les Models
	{{ parent() }}
{% endblock %}

{% block body %}
	<section class="class container mt-2">
		<h1 class="text-center">Administrations des Models</h1>

		<table class="mt-4">
			<thead>
				<tr>
                    <th>ID</th>
					<th>Name</th>
					<th>Slug</th>
					<th>enable</th>
                    <th>CreatedAt</th>
                    <th>UpdatedAt</th>
                    
				</tr>
			</thead>
			<tbody>
				{% for model in models %}
					<tr>
						<td>{{ model.id}}</td>
						<td>{{ model.name}}</td>
                         <td>{{model.slug}}</td>
						<td>{{ model.enable ? 'Actif' : 'Inactif'}}</td>
                        <td>{{model.createdAt|date('Y-m-d H:i:s')}}</td>
                        <td>{{model.updatedAt|date('Y-m-d H:i:s')}}</td>
                       
					</tr>
					<td>
						<div class="cell-flex">
							<a href="{{ path('admin.model.update', {id: model.id}) }}">Modifier</a>
							{# {%  include 'Backend/Models/_form.html.twig' %} #}

						</div>
					</td>
				</tr>
			{% endfor %}
		</tbody>

	</table>
</section>{% endblock %}
